*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}
body{
    background: #000000;
    color: #fff;
}
html{
    scroll-behavior: smooth;
}
#header{
    width: 100%;
    height: 60vh;
    background-image: url("../Assets/GameImages/DVD.gif"); /*TODO*/
    background-size: cover;
    background-position: center;
}
.container{
    padding: 10px 10px;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
.logo{
    width: 140px;
}
nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}
nav ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    position: relative;
}
nav ul li a::after{
    content: '';
    width: 0;
    height: 3px;
    background: #084008;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}
nav ul li a:hover::after{
    width: 100%;
}
.header-text{
    margin-top: 10%;
    font-size: 30px;
}
.header-text h1{
    font-size: 60px;
}

/*----------About--------*/
#about{
    padding: 80px 0;
    color: #ababab; 
}
.row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.about-col-2{
    flex-basis: 60%;
}
.about-col-2 img{
    width: 100%;
    border-radius: 15px;
}
.about-col-1{
    flex-basis: 35%;
    min-width: 250px;
}
.sub-title{
    font-size: 60px;
    font-weight: 600;
    color: #fff;
}
.tab-titles{
    display: flex;
    margin: 20px 0 40px;
}
.tab-links{
    margin-right: 50px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    position: relative;

}
.tab-links::after{
    content: '';
    width: 0;
    height: 3px;
    background: #084008;
    position: absolute;
    left: 0;
    bottom: -8px;
    transition: 0.5s;
}
.tab-links.active-link::after{
    width: 50px;
}
.about-col-1 ul li{
    list-style: none;
    margin: 10px 0;
}
.about-col-1 ul li span{
    color: #508050;
    font-size: 14px;
}
.tab-contents{
    display: none;
    position: relative;
    padding-bottom: 77%;
}
.tab-contents iframe{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 15px;
}
.tab-contents.active-tab{
    display: block;
}

/*--------Links--------*/
.social-icons{
    margin-top: 30px;
}
.social-icons a{
    text-decoration: none;
    font-size: 30px;
    margin-right: 15px;
    color: #ababab;
    display: inline-block;
    transition: transform 0.5s;
}
.social-icons a:hover{
    color: #084008;
    transform: translateY(-5px);
}